Pods/*
.DS_Store
gif.xcodeproj/xcuserdata/*
gif.xcworkspace/xcuserdata/*
xcuserdata
Pods/
Builds/
.idea/
*.ipa
*.dSYM.zip
*.orig
DerivedData
lib
!scripts/gundam/cocoapods-gundam/lib
!gif/KWAppFramework/KWAppDebug/Debug/debug-src.bundle/demos/mp-weixin/node-modules/@dcloudio/uni-ui/lib
staticLibs
staticBuildInfo.json
PodfileConfig
Podfile.lock
.kwaicomponent.yml
scripts/decoupling/*.json
.kwai
build-archive/*
.byebug_history
.gundam
.ruby-version
Gemfile.lock
coverage/
gifShell/KSCustomConfig.xcconfig
LinkMapFiles/
scripts/abtest/client_abtest_offline/
Resources/abtest_default_value.json
unused-resources-log.yml